.product-card {
  max-width: 300px;
  padding: 15px;
  box-shadow: 0 0 15px #ddd;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-card img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}
.product-box h2 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  cursor: pointer;
  color: #323232;
}
.product-card span {
  color: crimson;
}
.product-box p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: #323232;
  border: solid transparent;
  overflow: hidden;
}

.product-box p + p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: #323232;
  border: 0px solid transparent;
  overflow: hidden;
  margin-bottom: 1rem;
}
.row_btn {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.row-btn a {
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 6px;
}
#btn-buy {
  background: #555;
}
#btn-view {
  background: teal;
}
.product-card input {
  position: absolute;
  width: 25px;
  height: 25px;
}
